<?xml version='1.0' encoding='utf-8'?>
<widget id="org.codeforamerica.trails" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Trails</name>
    <description>
      Trails Mobile is a multi-device application that allows users of trails to cache trail information offline.
    </description>
    <preference name="DisallowOverscroll" value="true" />
    <author email="ryanc@codeforamerica.org" href="http://codeforamerica.org">
        Code for America
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Geolocation">
        <param name="ios-package" value="CDVLocation" />
    </feature>    
</widget>
