<div id="explore">

  <div id="header">
    <div class="container">
      <input type="search" value="" placeholder="Search" class="search-input">
      <a href="#" class="search-cancel">Cancel</a>
    </div>
  </div>

  <div id="footer">
    <div id="buttons">
      <div class="button">
        <a href="#/explore" class="active">
          <div class="button-inner">
            <span>Explore</span>
          </div>
        </a>
      </div>
      <div class="button">
        <a href="#/info">
          <div class="button-inner">
            <span>Info</span>
          </div>
        </a>
      </div>
      <div class="button">
        <a href="#" ng-click="call('1.800.555.5555')">
          <div class="button-inner">
            <span>Help</span>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
