<div id="notifications">
  <div id="header">
    <div class="tab" ng-class="{active: active == 'alerts'}" ng-click="active = 'alerts'">
      <p>Alerts</p>
    </div>
    <div class="tab" ng-class="{active: active == 'events'}" ng-click="active = 'events'">
      <p>Events</p>
    </div>
  </div>

  <div id="content">

    <div id="notifications-info">
      <span>Notifications from Metro Parks, Serving Summit County</span>
    </div>

    <div id="events" ng-show="active === 'events'">
      <div class="notification" ng-repeat="notification in events">
        <div class="notification-header">
          <h3>{{ notification.get('title') }}</h3>
          <small>Posted on {{ notification.get('created_at') }} by {{ notification.get('source') }}</small>
        </div>
        <div class="notification-body">
          <p>{{ notification.get('body') }}</p>
        </div>
      </div>
    </div>

    <div id="alerts" ng-show="active === 'alerts'">
      <div class="notification" ng-repeat="notification in alerts">
        <div class="notification-header">
          <h3>{{ notification.get('title') }}</h3>
          <small>Posted on {{ notification.get('created_at') }} by {{ notification.get('source') }}</small>
        </div>
        <div class="notification-body">
          <p>{{ notification.get('body') }}</p>
        </div>
      </div>
    </div>

  </div>

  <div id="footer">
    <div id="buttons">
      <div class="button">
        <a href="#/explore">
          <div class="button-inner">
            <span>Explore</span>
          </div>
        </a>
      </div>
      <div class="button">
        <a href="#/info" class="active">
          <div class="button-inner">
            <span>Info</span>
          </div>
        </a>
      </div>
      <div class="button">
        <a href="#" ng-click="call('1.800.555.5555')">
          <div class="button-inner">
            <span>Help</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
