<?xml version='1.0' encoding='utf-8'?>
<widget id="com.trailheadlabs.opentrails" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

  <preference name="phonegap-version" value="3.5.0" />
  <preference name="orientation" value="portrait" />
  <name>OpenTrails</name>

  <description>
    A trail navigation application built on the OpenTrails data standard.
  </description>

  <icon src="icon.png" />
  <gap:splash src="splash.png" />

    <!-- iPhone / iPod Touch  -->
  <icon src="www/res/icons/icon-60.png" gap:platform="ios" width="60" height="60" />
  <icon src="www/res/icons/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

  <!-- iPad -->
  <icon src="www/res/icons/icon-76.png" gap:platform="ios" width="76" height="76" />
  <icon src="www/res/icons/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

  <!-- Settings Icon -->
  <icon src="www/res/icons/icon-small.png" gap:platform="ios" width="29" height="29" />
  <icon src="www/res/icons/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

  <!-- Spotlight Icon -->
  <icon src="www/res/icons/icon-40.png" gap:platform="ios" width="40" height="40" />
  <icon src="www/res/icons/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

  <!-- iPhone / iPod Touch -->
  <icon src="www/res/icons/icon.png" gap:platform="ios" width="57" height="57" />
  <icon src="www/res/icons/icon@2x.png" gap:platform="ios" width="114" height="114" />

  <!-- iPad -->
  <icon src="www/res/icons/icon-72.png" gap:platform="ios" width="72" height="72" />
  <icon src="www/res/icons/icon-72@2x.png" gap:platform="ios" width="144" height="144" />

  <!-- iPhone Spotlight and Settings Icon -->
  <icon src="www/res/icons/icon-small.png" gap:platform="ios" width="29" height="29" />
  <icon src="www/res/icons/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

  <!-- iPad Spotlight and Settings Icon -->
  <icon src="www/res/icons/icon-50.png" gap:platform="ios" width="50" height="50" />
  <icon src="www/res/icons/icon-50@2x.png" gap:platform="ios" width="100" height="100" />

  <author email="jereme@trailheadlabs.com" href="http://www.trailheadlabs.com">
    Trailhead Labs
  </author>

  <preference name="DisallowOverscroll" value="true" />

  <gap:platforms>
    <gap:platform name="ios" minVersion="3.2" />
  </gap:platforms>

  <gap:plugin name="org.apache.cordova.file" version="0.2.4" />
  <gap:plugin name="org.apache.cordova.file-transfer" version="0.3.3" />
  <gap:plugin name="org.apache.cordova.dialogs" version="0.2.2" />
  <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />

  <access origin="*" subdomains="true" />
  <feature name="Geolocation">
      <param name="ios-package" value="CDVLocation" />
  </feature>
</widget>
