<?xml version='1.0' encoding='utf-8'?>
<widget id="com.trailheadlabs.opentrails" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

  <preference name="phonegap-version" value="3.5.0" />
  <preference name="orientation" value="portrait" />
  <name>OpenTrails</name>

  <description>
    A trail navigation application built on the OpenTrails data standard.
  </description>

  <icon src="icon.png" />
  <gap:splash src="splash.png" />

  <author email="jereme@trailheadlabs.com" href="http://trailheadlabs.com">
    Trailhead Labs
  </author>

  <preference name="DisallowOverscroll" value="true" />

  <gap:platforms>
    <gap:platform name="ios" minVersion="3.2" />
  </gap:platforms>

  <gap:plugin name="org.apache.cordova.file" version="0.2.4" />
  <gap:plugin name="org.apache.cordova.file-transfer" version="0.3.3" />
  <gap:plugin name="org.apache.cordova.dialogs" version="0.2.2" />
  <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />

  <access origin="*" subdomains="true" />
  <feature name="Geolocation">
      <param name="ios-package" value="CDVLocation" />
  </feature>
</widget>
