<?xml version='1.0' encoding='utf-8'?>
<widget id="com.codeforamerica.tothetrails" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

  <preference name="phonegap-version" value="3.3.0" />
  <preference name="orientation" value="portrait" />

  <name>OpenTrails Mobile</name>

  <description>
    A trail navigation application built on the OpenTrails data standard.
  </description>

  <author email="ryanc@codeforamerica.org" href="http://codeforamerica.org">
    Code for America
  </author>

  <preference name="DisallowOverscroll" value="true" />

  <gap:platforms>
    <gap:platform name="ios" minVersion="3.2" />
  </gap:platforms>

  <gap:plugin name="org.apache.cordova.file" version="0.2.4" />
  <gap:plugin name="org.apache.cordova.file-transfer" version="0.3.3" />
  <gap:plugin name="org.apache.cordova.dialogs" version="0.2.2" />

  <access origin="*" subdomains="true" />
  <feature name="Geolocation">
      <param name="ios-package" value="CDVLocation" />
  </feature>
</widget>
