<!DOCTYPE html>
<html>
  <head>
    <meta name="format-detection" content="telephone=yes">
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>To The Trails</title>
    <link rel="stylesheet" type="text/css" href="css/lib/normalize/normalize.css">
    <link rel="stylesheet" type="text/css" href="js/lib/leaflet/leaflet.css">
    <link rel="stylesheet" type="text/css" href="js/lib/leaflet/MarkerCluster.Default.css">
    <link rel="stylesheet" type="text/css" href="js/lib/leaflet/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="css/application.css"/>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Lora:400,700|Merriweather+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  </head>

  <body ng-controller='AppCtrl'>

    <div id="main">
      <div id="status"></div>

      <div id="map-view">

        <div id="map-search">
          <a href="#" class="control" ng-click="toggleView('search');">
            <i class="fa fa-search"></i>
          </a>
        </div>

        <div id="map-recenter">
          <a href="#" class="control" ng-click="recenter();">
            <i class="fa fa-location-arrow"></i>
          </a>
        </div>

        <div id="map-container"></div>

      </div>

      <div id="loading-view" ng-class="{fadeout:appLoaded}">
        <h1 class="title">To The Trails</h1>
        <h4 class="subtitle">Northeast Ohio</h4>
      </div>

      <section id="notifications-view" ng-show="view === 'notifications-notices' || view === 'notifications-contact'" ng-controller="NotificationsCtrl" ng-cloak>
        <div id="content">

          <header>
            <nav id="sources-nav">
              <a href="#" class="previous-steward" ng-click="previousSteward()">
                <i class="fa fa-chevron-left active"></i>
              </a>
              <div class="nav-text">
                <p>{{currentStewardPosition()}} of {{ stewards.length }} Stewards</p>
              </div>
              <a href="#" class="next-steward" ng-click="nextSteward()">
                <i class="fa fa-chevron-right active"></i>
              </a>
            </nav>
            <section id="notification-source">
              <div class="source-name-container">
                <p class="source-name">
                  <span>
                    {{ steward.get('name') }}
                  </span>
                </p>
                <img class="source-logo" src="img/nps.png"></img>
              </div>
              <nav class="notification-tabs">
                <ul>
                  <!-- <li ng-click="showView('notifications-notices')" class="tab" ng-class="{active:isActiveTab('notifications-notices')}">Notices</li> -->
                  <li class="tab" ng-class="{active:isActiveTab('notifications-notices')}">Notices</li><li ng-click="showView('notifications-contact')" class="tab" ng-class="{active:isActiveTab('notifications-contact')}">Contact</li>
                </ul>
              </nav>
            </section>
          </header>

          <section id="notification-content">

            <section id="contact-view" ng-show="view === 'notifications-contact'" ng-cloak>
              <div class="contact-options">
                <div class="contact-options-row">
                  <p class="contact-options-subhead">Headquarters / Main Visitor Center:</p>
                  <p class="source-address" placeholder="123 Easy Street">{{ steward.get('address') }}</p>
                  <a class="source-btn" href="#" ng-click="openInNativeMaps()">Get Directions</a>
                </div>
                <div class="contact-options-row">
                  <p class="contact-options-subhead">Visitor Information Phone Number:</p>
                  <p class="source-phone">{{ steward.get('phone') }}</p>
                  <a class="source-btn" href="tel:{{ steward.get('phone') }}">Call</a>
                </div>
              </div>
            </section>

            <section id="notification-list" ng-show="view === 'notifications-notices'" ng-cloak>

              <aside id="notifications-empty" ng-show="undeletedNotifications() === 0">
                <p>There are no notifications at this time.</p>
              </aside>

              <article class="notification-card" ng-repeat="notification in notifications" ng-if="notification.isUndeleted()">
                <div class="notification-metadata" ng-click="selectNotice(notification)">
                  <span class="notification-status active" ng-class="{true: 'unread', false: 'read'}[notification.isUnread()]"></span>
                  <span class="notification-timestamp">{{ notification.getCreatedAt() | date:'short' }}</span>
                  <h4 class="notification-headline">{{ notification.get('title') }}</h4>
                </div>
                <p class="notification-body" ng-show="selectedNotice === notification">{{ notification.get('body') }}</p>
                <a href="#" ng-click="closeNotification(notification)" ng-show="selectedNotice === notification" ng-cloak class="notification-close-btn">
                Delete <span class="icon">✖</span>
                </a>
              </article>

            </section>
          </section>
        </section>

      </section>

      <section id="trail-view" class="transition closed">
        <header id="trail-nav">
          <div class="change-trail">
            <a href="#" class="previous-trail" ng-click="previousTrail()">
              <i class="fa fa-chevron-left active" ng-class="{hidden:hasMoreTrails()}"></i>
            </a>
            <p class="trailhead-index">{{ selectedTrails.indexOf(selectedTrail) + 1 }} of {{ selectedTrails.length }}</p>
            <a href="#" class="next-trail" ng-click="nextTrail()">
              <i class="fa fa-chevron-right active" ng-class="{hidden:hasMoreTrails()}"></i>
            </a>
          </div>
          <div class="more-btn-tab">
            <a href="#" class="more-btn" ng-click="toggleTrailView()">
                <i class="fa fa-chevron-down" ng-show="isFullscreen()" ng-cloak></i>
                <i class="fa fa-chevron-up" ng-show="!isFullscreen()" ng-cloak></i>
            </a>
          </div>
          <a href="#" class="close-btn" ng-click="closeTrailView()">
            <i class="fa fa-times"></i>
          </a>
        </header>
        <article id="trail-and-trailhead-data">
          <header id="trail-data-header">
            <h3 class="trail-title">{{ selectedTrail.get('name') }}</h3>
            <h5 class="trail-attribute-distance">
              <distance-from-trailhead trailhead="selectedTrailHead" position="geoposition"/>
            </h5>
            <h5 class="trail-attribute-length">{{ selectedTrail.getLength().toFixed(2) }} mi long</h5>
          </header>
          <section class="trail-data-content">
            <div class="trailhead-title-field">
              <i class="trailhead-icon fa fa-map-marker"></i>
              <p class="trailhead-title">{{ selectedTrailHead.get('name') }} Trailhead</p>
              <a class="trailhead-directions" href="#" ng-click="openTrailHeadInNativeMaps()">
                  Get Directions
              </a>
            </div>
            <div class="photo-box">
              <img src="img/photo.png"><img>
            </div>
            <div class="trailhead-data">
              <p class="trail-subhead">Trail Activities</p>
              <div class="trail-icons">
                <div class="icon-box">
                  <img class="icon" src="img/foot-gray.png" ng-show="selectedTrail.canFoot()" ng-cloak>
                  <img class="icon" src="img/foot-light-gray.png" ng-show="!selectedTrail.canFoot()" ng-cloak>
                </div>
                <div class="icon-box">
                  <img class="icon" src="img/bike-gray.png" ng-show="selectedTrail.canBicycle()" ng-cloak>
                  <img class="icon" src="img/bike-light-gray.png" ng-show="!selectedTrail.canBicycle()" ng-cloak>
                </div>
                <div class="icon-box">
                  <img class="icon" src="img/horse-gray.png" ng-show="selectedTrail.canHorse()" ng-cloak>
                  <img class="icon" src="img/horse-light-gray.png" ng-show="!selectedTrail.canHorse()" ng-cloak>
                </div>
                <div class="icon-box">
                  <img class="icon" src="img/ski-gray.png" ng-show="selectedTrail.canSki()" ng-cloak>
                  <img class="icon" src="img/ski-light-gray.png" ng-show="!selectedTrail.canSki()" ng-cloak>
                </div>
              </div>
              <p class="trail-subhead">Amenities at this Trailhead</p>
              <table class="amenities">
                <tr>
                  <td ng-show="selectedTrailHead.hasParking()"><i class="fa fa-check"></i><p class="amenity"> Parking</p></td>
                  <td ng-show="selectedTrailHead.hasWater()"><i class="fa fa-check"></i><p class="amenity"> Drinking Water</p></td>
                </tr>
                <tr>
                  <td ng-show="selectedTrailHead.hasRestroom()"><i class="fa fa-check"></i><p class="amenity"> Restrooms</p></td>
                  <td ng-show="selectedTrailHead.hasKiosk()"><i class="fa fa-check"></i><p class="amenity"> Info Kiosk</p></td>
                </tr>
              </table>
              <p class="trail-subhead">Trail Description</p>
              <p class="trail-body" placeholder="No description yet">{{ selectedTrail.get('descriptn') }}</p>
              <div class="trailhead-steward">
                <p>
                  Managed by {{ selectedTrailHeadSteward.get('name') }}
                </p>
              </div>
            </div>
          </section>
        </article>
      </section>

      <div id="search-view" ng-show="view === 'search'" ng-cloak>

        <div id="header">
          <form id="search-form" ng-submit="search(searchKeywords, searchFilters)">
            <div class="search-input-container">
              <span class="search-input-icon"><i class="fa fa-search"></i></span>
              <input id="search-input" type="search" ng-model="searchKeywords" value="{{searchKeywords}}" placeholder="Search">
              <a href="#" ng-click="clearSearch()" class="search-clear-btn">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </form>
          <div class="filter-info">
            <span>Show Trails for {{ searchResultsMessage }}</span>
          </div>
          <div class="trail-icons">
            <div class="icon-box" ng-click="setSearchFilter('canFoot')">
              <img class="icon" src="img/foot-gray.png" ng-show="searchFilters.isFiltered('canFoot')" ng-cloak>
              <img class="icon" src="img/foot-light-gray.png" ng-hide="searchFilters.isFiltered('canFoot')" ng-cloak>
            </div>
            <div class="icon-box" ng-click="setSearchFilter('canBicycle')">
              <img class="icon" src="img/bike-gray.png" ng-show="searchFilters.isFiltered('canBicycle')" ng-cloak>
              <img class="icon" src="img/bike-light-gray.png" ng-hide="searchFilters.isFiltered('canBicycle')" ng-cloak>
            </div>
            <div class="icon-box" ng-click="setSearchFilter('canHorse')">
              <img class="icon" src="img/horse-gray.png" ng-show="searchFilters.isFiltered('canHorse')" ng-cloak>
              <img class="icon" src="img/horse-light-gray.png" ng-hide="searchFilters.isFiltered('canHorse')" ng-cloak>
            </div>
            <div class="icon-box" ng-click="setSearchFilter('canSki')">
              <img class="icon" src="img/ski-gray.png" ng-show="searchFilters.isFiltered('canSki')" ng-cloak>
              <img class="icon" src="img/ski-light-gray.png" ng-hide="searchFilters.isFiltered('canSki')" ng-cloak>
            </div>
          </div>
        </div>


        <div id="content">

          <div class="search-results">
            <div class="search-info" ng-if="!lastSearch || lastSearch.length === 0">
              <span>Found {{ searchResults.length }} Trails Near You</span>
            </div>
            <div class="search-info" ng-if="lastSearch.length > 0">
              <span>Found {{ searchResults.length }} Results For '{{ lastSearch }}'</span>
            </div>
            <div class="search-result" ng-repeat="result in searchResults">
              <div class="search-result-header-outer">
                <div class="search-result-header-inner">
                  <p class="name">{{ result.trailhead.get('name') }}</p>
                  <p class="distance">
                    <distance-from-trailhead trailhead="result.trailhead" position="geoposition"/>
                  </p>
                </div>
              </div>
              <div class="search-subresults">
                <a href="#" ng-click="selectTrailHead(result.trailhead, trail)" ng-repeat="trail in result.trails">
                  <p>{{ trail.get('name') }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="footer">
        <a href="#" ng-click="toggleView('trails')" ng-show="view !== 'map' && view !== 'map-layers' && view !== 'trails'">
          <div class="button button-map">
            <i class="fa fa-map-marker"></i>
          </div>
        </a>

        <a href="#" ng-click="toggleView('search')" ng-show="view === 'map' || view === 'map-layers' || view === 'trails'" ng-cloak>
          <div class="button button-search">
            <i class="fa fa-list-ul"></i>
          </div>
        </a>

        <a href="#" ng-click="toggleView('notifications-contact')">
          <div class="button button-info">
            <i class="fa fa-envelope"></i>
          </div>
        </a>

        <a href="#" ng-click="toggleMapTileLayer()">
          <div class="button button-layer">
            <i class="fa fa-exchange"></i>
          </div>
        </a>
        <span class="stretch"></span>
      </div>

    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/lib/fastclick/fastclick.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="js/lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="js/lib/leaflet/leaflet.markercluster.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/application/controllers.js"></script>
    <script type="text/javascript" src="js/application/routes.js"></script>
    <script type="text/javascript" src="js/application/services.js"></script>
    <script type="text/javascript" src="js/application/directives.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/application/TrailsCanvasLayer.js"></script>

  </body>

</html>
