<!DOCTYPE html>
<html>
  <head>
    <meta name="format-detection" content="telephone=yes">
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>To The Trails</title>
    <link rel="stylesheet" type="text/css" href="css/lib/normalize/normalize.css">
    <link rel="stylesheet" type="text/css" href="js/lib/leaflet/leaflet.css">
    <link rel="stylesheet/less" type="text/css" href="less/application.less"/>
    <script type="text/javascript" src="js/lib/less/less.min.js"></script>
  </head>

  <body ng-controller='AppCtrl'>

    <div id="main">
      <div id="status"></div>

      <div id="map-view">

        <div id="map-search">
          <a href="#" class="control" ng-click="toggleView('search');">
            <img src="img/map-search@2x.png"/>
          </a>
        </div>

        <div id="map-recenter">
          <a href="#" class="control" ng-click="recenter();">
            <img src="img/map-location@2x.png"/>
          </a>
        </div>

        <div id="map-container"></div>

        <ul id="map-layers" ng-show="view === 'map-layers'" ng-cloak>
          <li class="map-layer" ng-repeat="layer in mapTileLayers" ng-click="setMapTileLayer(layer.url)">
            <span class="map-layer-name">{{layer.name}}</span>
            <span class="map-layer-visible" ng-show="mapTileLayerUrl === layer.url">
              <img src="img/check@2x.png"/>
            </span>
          </li>
        </ul>
      </div>

      <div id="notifications-view" ng-show="view === 'notifications'" ng-cloak>
        <div id="content">
          <div id="sources-nav">
            <img class="chevron chevron-left" src="img/chevron-left.png"></img>
            <div class="nav-text">
              <p>You</p>
            </div>
            <img class="chevron chevron-right" src="img/chevron-right.png"></img>
          </div>
         <div id="notification-source">
            <div class="source-name">
              <img class="source-logo" src="img/nps.png"></img>
              <h3>Metro Parks, Serving Summit County</h3>
            </div>
            <div class="source-call-btn">
              <img class="phone-icon" src="img/phone-white.png"></img>
              <p class="call-btn-label">Call</p>
            </div>
            <div class="source-address">
              <a href="#">1550 Boston Mills Road, Peninsula, OH</a>
            </div>
          </div>
          <div id="notifications-empty" ng-show="notifications.length > 0">
            <p>There are no notifications at this time.</p>
          </div>
        </div>
        <div id="notification-list">
          <!-- Sample Notification goes here -->
        </div>
      </div>

      <div id="trail-view" ng-show="view === 'trails'" hm-swipe-left="nextTrail()" hm-swipe-right="previousTrail()"  hm-dragend="dragEnd($event)" hm-swipe-down="close()" ng-cloak>
        <div class="trail-nav" hm-drag-up="drag($event)" hm-drag-down="drag($event)">
          <img class="chevron chevron-left" src="img/chevron-left.png"></img>
          <div class="nav-text">
            <p>{{ selectedTrails.indexOf(selectedTrail) + 1 }} of {{ selectedTrails.length }}</p>
          </div>
          <img class="chevron chevron-right" src="img/chevron-right.png"></img>
        </div>
        <div class="trail-and-trailhead-data">
          <div class="trail-data">
            <div class="trail-attributes">
              <div class="trail-trailhead">
                <img class="trailhead-icon" src="img/marker.png"/></img>
                <h4 class="trailhead-title">{{ selectedTrailHead.get('name') }}</h4>
                <p class="trailhead-distance">{{ distance(selectedTrailHead).toFixed(2) }} mi away</p>
              </div>
              <h3 class="trail-title">{{ selectedTrail.get('name') }}</h3>
              <p class="trail-attribute-length">{{ selectedTrail.getLength().toFixed(2) }} mi long</p>
              <div class="trail-attribute-icons">
                <div class="attribute-icon-box" ng-show="selectedTrail.canFoot()">
                <img class="attribute-icon" src="img/foot.png">
                </div>
                <div class="attribute-icon-box" ng-show="selectedTrail.canBicycle()">
                  <img class="attribute-icon" src="img/bike.png">
                </div>
                <div class="attribute-icon-box" ng-show="selectedTrail.canHorse()">
                  <img class="attribute-icon" src="img/horse.png">
                </div>
                <div class="attribute-icon-box" ng-show="selectedTrail.canSki()">
                  <img class="attribute-icon" src="img/ski.png">
                </div>
              </div>
            </div>
            <div class="photo-box">
              <img src="img/photo.png"><img>
            </div>
            <p>{{ selectedTrail.get('descriptn') }}</p>
          </div>
          <div class="trailhead-data">
            <div class="trailhead-title-field">
              <img class="trailhead-icon" src="img/marker.png"/></img>
              <p class="trailhead-title">{{ selectedTrailHead.get('name') }}</p>
            </div>
            <div class="trailhead-attributes">
              <div class="trailhead-location-attributes">
                <p class="trailhead-distance">{{ distance(selectedTrailHead).toFixed(2) }} mi away</p>
                <a class="trailhead-address" href="">{{ selectedTrailHead.get('address') }}</a>
              </div>
              <div class="amenities">
                <p class="amenity">Parking</p>
                <p class="amenity">Drinking Water</p>
                <p class="amenity">Restrooms</p>
                <p class="amenity">Info Kiosk</p>
              </div>
              <div class="trailhead-steward">
                <p>Managed by {{ selectedSteward.get('name') }}</p>
              </div>
            </div>
          </div>
          <div class="trail-view-footer-shim"></div>
        </div>
      </div>

      <div id="search-view" ng-show="view === 'search'" ng-cloak>

        <div id="header">
          <form class="search-form" ng-submit="search(searchKeywords)">
            <div class="search-input-container">
              <span class="search-input-icon">&nbsp;</span>
              <input class="search-input" type="search" ng-model="searchKeywords" value="{{searchKeywords}}" placeholder="Search">
              <a href="#" ng-click="searchKeywords = ''">Clear</a>
            </div>
          </form>
        </div>


        <div id="content">

          <div class="search-info" ng-if="searchKeywords.length > 0">
            <span>Found {{ searchResults.length }} Results For '{{searchKeywords}}'</span>
          </div>

          <div class="search-info" ng-if="!searchKeywords || searchKeywords.length === 0">
            <span>Found {{ searchResults.length }} Trails Near You</span>
          </div>

          <div class="search-results">
            <div class="search-result" ng-repeat="result in searchResults">
              <div class="search-result-header-outer">
                <div class="search-result-header-inner">
                  <p class="name">{{ result.record.get('name') }}</p>
                  <p class="distance">{{ result.distance.toFixed(2) }} miles away</p>
                </div>
              </div>
              <div class="search-subresults">
                <a href="#" ng-click="selectTrailHead(result.record, subrecord)" ng-repeat="subrecord in result.subrecords">
                  <h3>{{ subrecord.get('name') }}</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="footer">
        <a href="#" ng-click="toggleView('map')" ng-show="view !== 'map' && view !== 'map-layers'">
          <div class="button button-map">
            <img src="img/map@2x.png"/>
          </div>
        </a>

        <a href="#" ng-click="toggleView('search')" ng-show="view === 'map' || view=== 'map-layers'" ng-cloak>
          <div class="button button-search">
            <img src="img/search@2x.png"/>
          </div>
        </a>

        <a href="#" ng-click="toggleView('notifications')">
          <div class="button button-info">
            <img src="img/info@2x.png"/>
          </div>
        </a>

        <a href="#" ng-click="toggleView('map-layers')">
          <div class="button button-layer">
            <img src="img/map-stack@2x.png"/>
          </div>
        </a>
        <span class="stretch"></span>
      </div>

    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/lib/fastclick/fastclick.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-gestures.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="js/lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/application/controllers.js"></script>
    <script type="text/javascript" src="js/application/routes.js"></script>
    <script type="text/javascript" src="js/application/services.js"></script>
    <script type="text/javascript" src="js/application.js"></script>

  </body>

</html>
