<!DOCTYPE html>
<html>
  <head>
    <meta name="format-detection" content="telephone=yes">
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <title>To The Trails</title>
    <link rel="stylesheet" type="text/css" href="css/lib/normalize/normalize.css">
    <link rel="stylesheet" type="text/css" href="js/lib/leaflet/leaflet.css">
    <link rel="stylesheet" type="text/css" href="js/lib/leaflet/MarkerCluster.Default.css">
    <link rel="stylesheet" type="text/css" href="js/lib/leaflet/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="css/application.css"/>
  </head>

  <body ng-controller='AppCtrl'>

    <div id="main">
      <div id="status"></div>

      <div id="map-view">

        <div id="map-search">
          <a href="#" class="control" ng-click="toggleView('search');">
            <img src="img/map-search@2x.png"/>
          </a>
        </div>

        <div id="map-recenter">
          <a href="#" class="control" ng-click="recenter();">
            <img src="img/map-location@2x.png"/>
          </a>
        </div>

        <div id="map-container"></div>

      </div>

      <div id="loading-view">
        <h1>To The Trails</h1>
        <h4>Northeast Ohio</h4>
      </div>

      <section id="notifications-view" ng-show="view === 'notifications-notices' || view === 'notifications-contact'" ng-controller="NotificationsCtrl" ng-cloak>
        <div id="content">

          <header>
            <nav id="sources-nav">
              <a href="#" class="previous-steward" ng-click="previous()">
                <img src="img/chevron-left-white.png" ng-show="canPrevious()" ng-cloak/>
                <img src="img/chevron-left-dark-green.png" ng-hide="canPrevious()" ng-cloak/>
              </a>
              <div class="nav-text">
              </div>
              <a href="#" class="next-steward" ng-click="next()">
                <img class="" src="img/chevron-right-white.png" ng-show="canNext()" ng-cloak/>
                <img class="" src="img/chevron-right-dark-green.png" ng-hide="canNext()" ng-cloak/>
              </a>
            </nav>
            <section id="notification-source">
              <div class="source-name">
                <h3>{{ steward.get('name') }}</h3>
                <img class="source-logo" src="img/nps.png"></img>
              </div>
              <nav class="notification-tabs">
                <ul>
                  <li ng-click="showView('notifications-notices')" class="tab" ng-class="{active:isActiveTab('notifications-notices')}">Notices</li><li ng-click="showView('notifications-contact')" class="tab" ng-class="{active:isActiveTab('notifications-contact')}">Contact</li>
                </ul>
              </nav>
            </section>
          </header>

          <section id="notification-content">

            <section id="contact-view" ng-show="view === 'notifications-contact'" ng-cloak>
              <div class="source-address">
                <div>Address:</div>
                <a href="http://maps.apple.com/?saddr={{ geoposition.get('latitude') }},{{ geoposition.get('longitude') }}&daddr={{ steward.get('address') }}" target="_system">975 Treaty Line Rd Akron, OH</a>
              </div>
              <div class="source-call-btn">
                <img class="phone-icon" src="img/phone-white.png"></img>
                <a href="tel:{{ steward.get('phone') }}">{{ steward.get('phone') }}</a>
                </a>
              </div>
              <div class="source-splash-img">
              </div>
            </section>

            <section id="notification-list" ng-show="view === 'notifications-notices'" ng-cloak>

              <aside id="notifications-empty" ng-show="undeletedNotifications() === 0">
                <p>There are no notifications at this time.</p>
              </aside>

              <article class="notification-card" ng-repeat="notification in notifications" ng-if="notification.isUndeleted()">
                <div class="notification-metadata" ng-click="selectNotice(notification)">
                  <span class="notification-status active" ng-class="{true: 'unread', false: 'read'}[notification.isUnread()]"></span>
                  <span class="notification-timestamp">{{ notification.getCreatedAt() | date:'short' }}</span>
                  <h4 class="notification-headline">{{ notification.get('title') }}</h4>
                </div>
                <p class="notification-body" ng-show="selectedNotice === notification">{{ notification.get('body') }}</p>
                <a href="#" ng-click="closeNotification(notification)" ng-show="selectedNotice === notification" ng-cloak class="notification-close-btn">
                Delete <span class="icon">✖</span>
                </a>
              </article>

            </section>
          </section>
        </section>

      </section>


      <div id="trail-view" ng-show="view === 'trails'" hm-swipe-left="nextTrail()" hm-swipe-right="previousTrail()" ng-class="{ fullscreen: fullscreen }" ng-cloak>
        <div class="trail-nav" hm-drag-up="drag($event)" hm-drag-down="drag($event)">
          <div class="trail-trailhead">
            <div class="change-trail">
              <a href="#" class="previous-trail" ng-click="previousTrail()">
                <img class="chevron chevron-left" src="img/chevron-left-white.png" ng-show="canPreviousTrail()" ng-cloak/>
                <img class="chevron chevron-left" src="img/chevron-left-dark-green.png" ng-show="!canPreviousTrail()" ng-cloak/>
              </a>
<!--                   <img class="trailhead-icon" src="img/marker.png"/></img> -->
              <p class="trailhead-index">{{ selectedTrails.indexOf(selectedTrail) + 1 }} of {{ selectedTrails.length }}</p>
              <a href="#" class="next-trail" ng-click="nextTrail()">
                <img class="chevron chevron-right" src="img/chevron-right-white.png" ng-show="canNextTrail()" ng-cloak/>
                <img class="chevron chevron-right" src="img/chevron-right-dark-green.png" ng-show="!canNextTrail()" ng-cloak/>
              </a>
            </div>
          </div>
          <div class="more-btn-tab">
            <a href="#" class="more-btn" ng-click="fullscreen = true" ng-show="!fullscreen" ng-cloak>
                <img src="img/chevron-up-gray.png">
            </a>
            <a href="#" class="more-btn" ng-click="fullscreen = false" ng-show="fullscreen" ng-cloak>
              <div>
                <img src="img/chevron-down-gray.png">
              </div>
            </a>
          </div>
          <a href="#" class="close-btn" ng-click="closeTrailView()">
            <img src="img/close-btn-white.png"></img>
          </a>
        </div>
        <div class="trail-and-trailhead-data">
          <div class="trail-data">
            <div class="trail-attributes">
              <h3 class="trail-title">{{ selectedTrail.get('name') }}</h3>
              <h5 class="trail-attribute-distance">
                <distance-from-trailhead trailhead="selectedTrailHead" position="geoposition"/>
              </h5>
              <h5 class="trail-attribute-length">{{ selectedTrail.getLength().toFixed(2) }} mi long</h5>
            </div>
            <div class="trailhead-title-field">
              <img class="trailhead-icon" src="img/marker.png"/></img>
              <p class="trailhead-title">{{ selectedTrailHead.get('name') }} Trailhead</p>
              <a class="trailhead-address" href="http://maps.apple.com/?saddr={{geoposition.get('latitude')}},{{geoposition.get('longitude')}}&daddr={{selectedTrailHead.get('address')}}" target="_system">
                  {{ selectedTrailHead.get('address') }}
              </a>
            </div>
            <div class="photo-box">
              <img src="img/photo.png"><img>
            </div>
            <div class="trailhead-data">
              <p class="trail-subhead">Trail Activities</p>
              <div class="trail-icons">
                <div class="icon-box">
                  <img class="icon" src="img/foot-gray.png" ng-show="selectedTrail.canFoot()" ng-cloak>
                  <img class="icon" src="img/foot-light-gray.png" ng-show="!selectedTrail.canFoot()" ng-cloak>
                </div>
                <div class="icon-box">
                  <img class="icon" src="img/bike-gray.png" ng-show="selectedTrail.canBicycle()" ng-cloak>
                  <img class="icon" src="img/bike-light-gray.png" ng-show="!selectedTrail.canBicycle()" ng-cloak>
                </div>
                <div class="icon-box">
                  <img class="icon" src="img/horse-gray.png" ng-show="selectedTrail.canHorse()" ng-cloak>
                  <img class="icon" src="img/horse-light-gray.png" ng-show="!selectedTrail.canHorse()" ng-cloak>
                </div>
                <div class="icon-box">
                  <img class="icon" src="img/ski-gray.png" ng-show="selectedTrail.canSki()" ng-cloak>
                  <img class="icon" src="img/ski-light-gray.png" ng-show="!selectedTrail.canSki()" ng-cloak>
                </div>
              </div>
              <p class="trail-subhead">Amenities at this Trailhead</p>
              <table class="amenities">
                <tr>
                  <td ng-show="selectedTrailHead.hasParking()"><img src="img/check.png"></img><p class="amenity"> Parking</p></td>
                  <td ng-show="selectedTrailHead.hasWater()"><img src="img/check.png"><p class="amenity"> Drinking Water</p></td>
                </tr>
                <tr>
                  <td ng-show="selectedTrailHead.hasRestroom()"><img src="img/check.png"><p class="amenity"> Restrooms</p></td>
                  <td ng-show="selectedTrailHead.hasKiosk()"><img src="img/check.png"><p class="amenity"> Info Kiosk</p></td>
                </tr>
              </table>
              <p class="trail-subhead">Trail Description</p>
              <p>{{ selectedTrail.get('descriptn') }}</p>
              <div class="trailhead-steward">
                <p>
                  Managed by {{ selectedTrailHeadSteward.get('name') }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="search-view" ng-show="view === 'search'" ng-cloak>

        <div id="header">
          <form class="search-form" ng-submit="search(searchKeywords, searchFilters)">
            <div class="search-input-container">
              <span class="search-input-icon">&nbsp;</span>
              <input class="search-input" type="search" ng-model="searchKeywords" value="{{searchKeywords}}" placeholder="Search">
              <a href="#" ng-click="clearSearch()"><img class="search-clear-btn" src="img/close-btn-gray.png"></a>
            </div>
          </form>
          <div class="filter-info">
            <span ng-hide="searchFilter.canFoot">Show Trails for All Activities</span>
          </div>
          <div class="trail-icons">
            <div class="icon-box first-filter" ng-click="setSearchFilter('canFoot')">
              <img class="icon" src="img/foot-gray.png" ng-show="searchFilters.canFoot" ng-cloak>
              <img class="icon" src="img/foot-light-gray.png" ng-hide="searchFilters.canFoot" ng-cloak>
            </div>
            <div class="icon-box" ng-click="setSearchFilter('canBicycle')">
              <img class="icon" src="img/bike-gray.png" ng-show="searchFilters.canBicycle" ng-cloak>
              <img class="icon" src="img/bike-light-gray.png" ng-hide="searchFilters.canBicycle" ng-cloak>
            </div>
            <div class="icon-box" ng-click="setSearchFilter('canHorse')">
              <img class="icon" src="img/horse-gray.png" ng-show="searchFilters.canHorse" ng-cloak>
              <img class="icon" src="img/horse-light-gray.png" ng-hide="searchFilters.canHorse" ng-cloak>
            </div>
            <div class="icon-box" ng-click="setSearchFilter('canSki')">
              <img class="icon" src="img/ski-gray.png" ng-show="searchFilters.canSki" ng-cloak>
              <img class="icon" src="img/ski-light-gray.png" ng-hide="searchFilters.canSki" ng-click="setSearchFilter('canSki', true)" ng-cloak>
            </div>
          </div>
        </div>


        <div id="content">

          <div class="search-info" ng-if="lastSearch.length > 0">
            <span>Found {{ searchResults.length }} Results For '{{ lastSearch }}'</span>
          </div>

          <div class="search-info" ng-if="!lastSearch || lastSearch.length === 0">
            <span>Found {{ searchResults.length }} Trails Near You</span>
          </div>

          <div class="search-results">
            <div class="search-result" ng-repeat="result in searchResults">
              <div class="search-result-header-outer">
                <div class="search-result-header-inner">
                  <p class="name">{{ result.trailhead.get('name') }}</p>
                  <p class="distance">
                    <distance-from-trailhead trailhead="result.trailhead" position="geoposition"/>
                  </p>
                </div>
              </div>
              <div class="search-subresults">
                <a href="#" ng-click="selectTrailHead(result.trailhead, trail)" ng-repeat="trail in result.trails">
                  <h3>{{ trail.get('name') }}</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="footer">
        <a href="#" ng-click="toggleView('trails')" ng-show="view !== 'map' && view !== 'map-layers' && view !== 'trails'">
          <div class="button button-map">
            <img src="img/map@2x.png"/>
          </div>
        </a>

        <a href="#" ng-click="toggleView('search')" ng-show="view === 'map' || view === 'map-layers' || view === 'trails'" ng-cloak>
          <div class="button button-search">
            <img src="img/search@2x.png"/>
          </div>
        </a>

        <a href="#" ng-click="toggleView('notifications-notices')">
          <div class="button button-info">
            <img src="img/info@2x.png"/>
          </div>
        </a>

        <a href="#" ng-click="toggleMapTileLayer()">
          <div class="button button-layer">
            <img src="img/map-stack@2x.png"/>
          </div>
        </a>
        <span class="stretch"></span>
      </div>

    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/lib/fastclick/fastclick.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-gestures.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="js/lib/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="js/lib/leaflet/leaflet.markercluster.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/application/controllers.js"></script>
    <script type="text/javascript" src="js/application/routes.js"></script>
    <script type="text/javascript" src="js/application/services.js"></script>
    <script type="text/javascript" src="js/application/directives.js"></script>
    <script type="text/javascript" src="js/application.js"></script>
    <script type="text/javascript" src="js/application/TrailsCanvasLayer.js"></script>

  </body>

</html>
