/* Home Screen: */

/* iPhone 5S Space Grey: */
/* iPhone 5S Space Grey: */

/* maptile: */
/* maptile: */
background: #D8D8D8;
/* Sketch doesnt export pattern fills at this point */

/* Footer Background: */
/* Footer Background: */
background: #4A4A4A;

/* Icon Background: */
/* Icon Background: */
background: #4A4A4A;

/* Icon Outline: */
/* Icon Outline: */
border: 5px solid #F6F6F6;

font-family: HelveticaNeue-Bold;
font-size: 18px;
color: #F6F6F6;
line-height: 23px;
/* Help Label: */
/* Help Label: */

/* Shape: */
/* Shape: */
background: #F6F6F6;

/* Shape: */
/* Shape: */
background: #F6F6F6;

/* Shape: */
/* Shape: */
background: #F6F6F6;

/* Icon Background: */
/* Icon Background: */

/* Icon Outline: */
/* Icon Outline: */
border: 5px solid #F6F6F6;

font-family: HelveticaNeue-Bold;
font-size: 17px;
color: #F6F6F6;
line-height: 22px;
/* Info Label: */
/* Info Label: */

border-radius: 20px;
/* gallon: */
/* gallon: */
background: #F6F6F6;

/* ribbon: */
/* ribbon: */
background: #4A4A4A;

/* brim: */
/* brim: */
background: #F6F6F6;

/* inside: */
/* inside: */
background: #4A4A4A;

/* Icon Background: */
/* Icon Background: */

/* Icon Outline: */
/* Icon Outline: */
border: 5px solid #F6F6F6;

font-family: HelveticaNeue-Bold;
font-size: 17px;
color: #F6F6F6;
line-height: 22px;
/* Discover Label: */
/* Discover Label: */

/* Favorites copy 3: */
/* Favorites copy 3: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 4: */
/* Favorites copy 4: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 5: */
/* Favorites copy 5: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 6: */
/* Favorites copy 6: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 7: */
/* Favorites copy 7: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 8: */
/* Favorites copy 8: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Icon Background: */
/* Icon Background: */

/* Icon Outline: */
/* Icon Outline: */
border: 5px solid #F6F6F6;

font-family: HelveticaNeue-Bold;
font-size: 18px;
color: #F6F6F6;
line-height: 23px;
/* Saved Label: */
/* Saved Label: */

/* icon: */
/* icon: */
background: #F6F6F6;

/* Bottom Border: */
/* Bottom Border: */
background: #F6F6F6;

/* Header Background: */
/* Header Background: */
background: #4A4A4A;

/* keyline: */
/* keyline: */
background: #F6F6F6;

/* Oval 1: */
/* Oval 1: */
background: #F6F6F6;

/* Oval 1 copy: */
/* Oval 1 copy: */
background: #F6F6F6;

/* Oval 1 copy 2: */
/* Oval 1 copy 2: */
background: #F6F6F6;

/* Oval 1 copy 3: */
/* Oval 1 copy 3: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

/* Oval 1 copy 4: */
/* Oval 1 copy 4: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

font-family: HelveticaNeue;
font-size: 28px;
color: #F6F6F6;
line-height: 34px;
/* VIRGIN: */
/* VIRGIN: */

/* Wifi: */
/* Wifi: */
background: #F6F6F6;

font-family: HelveticaNeue-Light;
font-size: 28px;
color: #F6F6F6;
line-height: 34px;
/* 82%: */
/* 82%: */

border-radius: 3px;
/* Battery: */
/* Battery: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

border-radius: 2px;
/* Charge: */
/* Charge: */
background: #F6F6F6;

/* +: */
/* +: */
background: #F6F6F6;

/* power: */
/* power: */
background: #F6F6F6;

/* bluetooth: */
/* bluetooth: */
background: #F6F6F6;

/* Re-center Icon: */
/* Re-center Icon: */
background: #F6F6F6;

font-family: HelveticaNeue-Medium;
font-size: 32px;
color: #F6F6F6;
line-height: 32px;
/* Park Title: */
/* Park Title: */

/* Favorite icon: */
/* Favorite icon: */
background: #F6F6F6;