/* Info View: */

/* iPhone 5S Space Grey copy: */
/* iPhone 5S Space Grey copy: */

/* maptile copy: */
/* maptile copy: */
/* Sketch doesnt export pattern fills at this point */

/* Search Activated Background: */
/* Search Activated Background: */
background: rgba(74,74,74,0.50);

/* Alert Foreground: */
/* Alert Foreground: */
background: #F7F7F7;
border: 1px solid #979797;

font-family: HelveticaNeue-Medium;
font-size: 18px;
color: #4A4A4A;
line-height: 24px;
letter-spacing: 0px;
/* Alert Body: */
/* Alert Body: */

font-family: HelveticaNeue-Medium;
font-size: 32px;
color: #4A4A4A;
line-height: 36px;
letter-spacing: 0px;
/* Alert Headline: */
/* Alert Headline: */

/* Line: */
/* Line: */
border: 4px solid #4A4A4A;

/* Line: */
/* Line: */
border: 4px solid #4A4A4A;

/* Location Icon: */
/* Location Icon: */
background: #F6F6F6;

/* Search Icon: */
/* Search Icon: */
background: #4A4A4A;

/* Footer Background: */
/* Footer Background: */
background: #4A4A4A;

/* Icon Background: */
/* Icon Background: */
background: #4A4A4A;

/* Icon Outline: */
/* Icon Outline: */
border: 5px solid #F6F6F6;

font-family: HelveticaNeue-Bold;
font-size: 18px;
color: #F6F6F6;
line-height: 23px;
/* Help Label: */
/* Help Label: */

/* Shape: */
/* Shape: */
background: #F6F6F6;

/* Shape: */
/* Shape: */
background: #F6F6F6;

/* Shape: */
/* Shape: */
background: #F6F6F6;

/* Icon Background: */
/* Icon Background: */
background: #F6F6F6;

/* Icon Outline: */
/* Icon Outline: */
border: 5px solid #4A4A4A;

font-family: HelveticaNeue-Bold;
font-size: 17px;
color: #4A4A4A;
line-height: 22px;
/* Info Label: */
/* Info Label: */

border-radius: 20px;
/* gallon: */
/* gallon: */
background: #4A4A4A;

/* ribbon: */
/* ribbon: */
background: #F6F6F6;

/* brim: */
/* brim: */
background: #4A4A4A;

/* inside: */
/* inside: */
background: #F6F6F6;

/* Icon Background: */
/* Icon Background: */

/* Icon Outline: */
/* Icon Outline: */
border: 5px solid #F6F6F6;

font-family: HelveticaNeue-Bold;
font-size: 17px;
color: #F6F6F6;
line-height: 22px;
/* Discover Label: */
/* Discover Label: */

/* Favorites copy 3: */
/* Favorites copy 3: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 4: */
/* Favorites copy 4: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 5: */
/* Favorites copy 5: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 6: */
/* Favorites copy 6: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 7: */
/* Favorites copy 7: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Favorites copy 8: */
/* Favorites copy 8: */
background: #F6F6F6;
border: 1px solid #F6F6F6;

/* Icon Background: */
/* Icon Background: */

/* Icon Outline: */
/* Icon Outline: */
border: 5px solid #F6F6F6;

font-family: HelveticaNeue-Bold;
font-size: 18px;
color: #F6F6F6;
line-height: 23px;
/* Saved Label: */
/* Saved Label: */

/* Star Icon: */
/* Star Icon: */
background: #F6F6F6;

/* Alert Foreground: */
/* Alert Foreground: */
background: #F7F7F7;
border: 1px solid #979797;

font-family: HelveticaNeue-Medium;
font-size: 18px;
color: #4A4A4A;
line-height: 24px;
letter-spacing: 0px;
/* Alert Body: */
/* Alert Body: */

font-family: HelveticaNeue-Medium;
font-size: 32px;
color: #4A4A4A;
line-height: 36px;
letter-spacing: 0px;
/* Alert Headline: */
/* Alert Headline: */

/* Line: */
/* Line: */
border: 4px solid #4A4A4A;

/* Line: */
/* Line: */
border: 4px solid #4A4A4A;

/* Tab UI Box: */
/* Tab UI Box: */
background: #4A4A4A;

/* Events Box: */
/* Events Box: */
background: #4A4A4A;

font-family: HelveticaNeue-Light;
font-size: 24px;
color: #F6F6F6;
line-height: 29px;
letter-spacing: 0px;
/* Events: */
/* Events: */

/* Alerts Box: */
/* Alerts Box: */
background: #F6F6F6;

font-family: HelveticaNeue-Light;
font-size: 24px;
color: #4A4A4A;
line-height: 29px;
letter-spacing: 0px;
/* Alerts Label: */
/* Alerts Label: */

/* bottom border: */
/* bottom border: */
background: #F6F6F6;

/* Top Nav UI Background: */
/* Top Nav UI Background: */
background: #4A4A4A;

/* keyline: */
/* keyline: */
background: #F6F6F6;

/* Oval 1: */
/* Oval 1: */
background: #F6F6F6;

/* Oval 1 copy: */
/* Oval 1 copy: */
background: #F6F6F6;

/* Oval 1 copy 2: */
/* Oval 1 copy 2: */
background: #F6F6F6;

/* Oval 1 copy 3: */
/* Oval 1 copy 3: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

/* Oval 1 copy 4: */
/* Oval 1 copy 4: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

font-family: HelveticaNeue;
font-size: 28px;
color: #F6F6F6;
line-height: 34px;
/* VIRGIN: */
/* VIRGIN: */

/* Wifi: */
/* Wifi: */
background: #F6F6F6;

font-family: HelveticaNeue-Light;
font-size: 28px;
color: #F6F6F6;
line-height: 34px;
/* 82%: */
/* 82%: */

border-radius: 3px;
/* Battery: */
/* Battery: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

border-radius: 2px;
/* Charge: */
/* Charge: */
background: #F6F6F6;

/* +: */
/* +: */
background: #F6F6F6;

/* power: */
/* power: */
background: #F6F6F6;

/* bluetooth: */
/* bluetooth: */
background: #F6F6F6;

/* Location Icon: */
/* Location Icon: */
background: #F6F6F6;

/* Search Icon: */
/* Search Icon: */
background: #F6F6F6;

font-family: HelveticaNeue-Medium;
font-size: 32px;
color: #F6F6F6;
line-height: 32px;
/* Metro Parks Serving : */
/* Metro Parks Serving : */

/* Header Background Border: */
/* Header Background Border: */
background: #F6F6F6;

/* Header Background: */
/* Header Background: */
background: #4A4A4A;

/* keyline: */
/* keyline: */
background: #F6F6F6;

/* Oval 1: */
/* Oval 1: */
background: #F6F6F6;

/* Oval 1 copy: */
/* Oval 1 copy: */
background: #F6F6F6;

/* Oval 1 copy 2: */
/* Oval 1 copy 2: */
background: #F6F6F6;

/* Oval 1 copy 3: */
/* Oval 1 copy 3: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

/* Oval 1 copy 4: */
/* Oval 1 copy 4: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

font-family: HelveticaNeue;
font-size: 28px;
color: #F6F6F6;
line-height: 34px;
/* VIRGIN: */
/* VIRGIN: */

/* Wifi: */
/* Wifi: */
background: #F6F6F6;

font-family: HelveticaNeue-Light;
font-size: 28px;
color: #F6F6F6;
line-height: 34px;
/* 82%: */
/* 82%: */

border-radius: 3px;
/* Battery: */
/* Battery: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

border-radius: 2px;
/* Charge: */
/* Charge: */
background: #F6F6F6;

/* +: */
/* +: */
background: #F6F6F6;

/* power: */
/* power: */
background: #F6F6F6;

/* bluetooth: */
/* bluetooth: */
background: #F6F6F6;

/* Location Icon: */
/* Location Icon: */
background: #F6F6F6;

font-family: HelveticaNeue-Medium;
font-size: 32px;
color: #F6F6F6;
line-height: 32px;
/* Park Title: */
/* Park Title: */

/* Favorite Icon: */
/* Favorite Icon: */
background: #F6F6F6;

/* Top Nav UI Background: */
/* Top Nav UI Background: */
background: #4A4A4A;

/* keyline: */
/* keyline: */
background: #B2B2B2;

/* Oval 1: */
/* Oval 1: */
background: #4A4A4A;

/* Oval 1 copy: */
/* Oval 1 copy: */
background: #4A4A4A;

/* Oval 1 copy 2: */
/* Oval 1 copy 2: */
background: #4A4A4A;

/* Oval 1 copy 3: */
/* Oval 1 copy 3: */
border: 1px solid #FFFFFF;

/* Oval 1 copy 4: */
/* Oval 1 copy 4: */
border: 1px solid #FFFFFF;

font-family: HelveticaNeue;
font-size: 28px;
color: #4A4A4A;
line-height: 34px;
/* VIRGIN: */
/* VIRGIN: */

/* Wifi: */
/* Wifi: */
background: #4A4A4A;

font-family: HelveticaNeue-Light;
font-size: 28px;
color: #F6F6F6;
line-height: 34px;
/* 82%: */
/* 82%: */

border-radius: 3px;
/* Battery: */
/* Battery: */
background: #F6F6F6;
border: 1px solid #FFFFFF;

border-radius: 2px;
/* Charge: */
/* Charge: */
background: #F6F6F6;

/* +: */
/* +: */
background: #F6F6F6;

/* power: */
/* power: */
background: #F6F6F6;

border-radius: 5px;
/* Search box: */
/* Search box: */
background: #F6F6F6;

/* Search Icon: */
/* Search Icon: */
background: #4A4A4A;

font-family: HelveticaNeue-Light;
font-size: 24px;
color: #9B9B9B;
line-height: 29px;
/* Search: */
/* Search: */

font-family: HelveticaNeue-Light;
font-size: 34px;
color: #F6F6F6;
line-height: 41px;
/* Cancel: */
/* Cancel: */

/* keyline: */
/* keyline: */
background: #F6F6F6;