<div id="notifications-view" ng-show="notificationsVisible" ng-controller="NotificationsCtrl">
   <div id="content">
    <div id="notifications-info">
      <p>You are currently in The Cuyahoga Valley National Park. Read information from other parks in your region.</p>
    </div>

    <div id="notification-sources">
      <div class="source">
        <div class="col-left">
        </div>
        <div class="col-right">
          <h3>The Cuyahoga Valley National Park</h3>
        </div>
      </div>
    </div>
  </div>
</div>
