/** Variables **/
/** Styles **/
html {
  height: 100%;
}
body {
  background-color: #f6f6f6;
  font-family: Helvetica Neue,Helvetica,Verdana;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/** Layout **/
#main {
  width: 100%;
  height: 100%;
}
#status {
  top: 0;
  position: fixed;
  height: 20px;
  width: 100%;
  background-color: #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  z-index: 3000;
}
#header {
  position: fixed;
  top: 21px;
  height: 50px;
  width: 100%;
  background-color: #242424;
  color: #f6f6f6;
  weight: 300;
  overflow-y: hidden;
  z-index: 3000;
  padding: 0 20px;
  box-sizing: border-box;
}
#content {
  position: fixed;
  top: 70px;
  z-index: 3000;
  width: 100%;
  bottom: 60px;
  background-color: #f6f6f6;
}
#footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #242424;
  z-index: 6000;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
#footer a {
  text-decoration: none;
  color: #242424;
}
#footer a:active {
  opacity: .75;
}
#footer .button {
  padding: 20px 10px 0px 20px;
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  padding: 15px 16px;
  width: 30px;
  color: #f6f6f6;
}
#footer .button:active {
  opacity: .75;
}
#footer .stretch {
  width: 100%;
  display: inline-block;
  line-height: 0;
  font-size: 0;
}
#footer .button-map .fa {
  font-size: 36px;
  position: relative;
  left: 5px;
  top: -5px;
}
#footer .button-search .fa,
#footer .button-info .fa,
#footer .button-layer .fa {
  font-size: 30px;
}
/** Views **/
#loading-view {
  z-index: 7000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-image: url(../img/loading-screen.jpg);
  pointer-events: none;
}
#loading-view.fadeout {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
}
#loading-view h1 {
  display: block;
  text-align: center;
  width: auto;
  margin: 2em auto .25em auto;
  color: #242424;
}
#loading-view h4 {
  display: block;
  text-align: center;
  width: auto;
  margin: .1em auto;
  color: #242424;
}
#map-view #map-search {
  position: relative;
  top: 30px;
  left: 10px;
  float: left;
  z-index: 3000;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.8);
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 4px #a3a3a3;
}
#map-view #map-search .fa {
  font-size: 26px;
  color: #242424;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -13px;
}
#map-view #map-recenter {
  position: relative;
  top: 30px;
  float: right;
  z-index: 3000;
  border-radius: 2px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 4px #a3a3a3;
}
#map-view #map-recenter .fa {
  font-size: 30px;
  color: #242424;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -15px;
}
#map-view #map-layers {
  position: fixed;
  bottom: 60px;
  width: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  border-top: 1px solid #a3a3a3;
}
#map-view #map-layers .map-layer {
  width: 100%;
  list-style-type: none;
  border-bottom: 1px solid #a3a3a3;
  padding: 15px;
  display: inline-block;
}
#map-view #map-layers .map-layer-name {
  float: left;
}
#map-view #map-layers .map-layer-visible {
  float: right;
  margin-right: 30px;
}
#map-view #map-layers .map-layer-visible img {
  width: 20px;
}
#map-view #map-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#map-view .trail-selected .leaflet-marker-icon,
#map-view .trail-selected .marker-cluster,
#map-view .trail-selected .marker-cluster div {
  width: 20px !important;
  height: 20px !important;
  margin-left: -10px !important;
  margin-top: -10px !important;
}
#map-view .trail-selected .marker-cluster div {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
#map-view .trail-selected .marker-cluster div > span {
  display: none;
}
#map-view .trail-selected .leaflet-marker-icon[src="img/trailhead-marker-selected.png"],
#map-view .trail-selected .leaflet-marker-icon[src="img/trailhead-marker-selected@2x.png"] {
  margin-left: -24px !important;
  margin-top: -24px !important;
  width: 48px !important;
  height: 48px !important;
}
/* SEARCH VIEW */
#search-view #header {
  height: 141px;
  background-color: #f6f6f6;
  color: #242424;
  border-bottom: 1px solid #242424;
}
#search-view #header #search-form {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#search-view #header #search-form .search-input-container {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px 0;
}
#search-view #header #search-form .search-input-container .search-input-icon {
  background-size: 15px;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 3000;
  display: block;
  top: 50%;
  left: 7px;
  margin-top: -10px;
  position: absolute;
}
#search-view #header #search-form .search-input-container #search-input {
  -webkit-appearance: none;
  border-radius: 3px;
  width: 100%;
  color: #242424;
  padding: 5px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#search-view #header #search-form .search-input-container .search-clear-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -15px;
  opacity: 0.5;
  color: #242424;
  font-size: 24px;
}
#search-view #header .filter-info {
  margin: 0 0 10px;
  height: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 200;
}
#search-view #header .trail-icons {
  width: 100%;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
}
#search-view #header .trail-icons .icon-box {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
}
#search-view #header .trail-icons .icon-box .icon {
  text-align: center;
  height: 60%;
  margin-top: 20%;
}
#search-view #header .trail-icons .trail-icons:after {
  content: "";
  width: 100%;
  display: inline-block;
}
#search-view #content {
  top: 162px;
}
#search-view #content .search-results {
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  bottom: 0;
  top: 0;
}
#search-view #content .search-info {
  width: 100%;
  height: 20px;
  padding: 10px 0 5px 0;
  color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #242424;
}
#search-view #content .search-result .search-result-header-outer {
  background-color: #5c795a;
  color: #f6f6f6;
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 0 20px;
}
#search-view #content .search-result .search-result-header-outer .search-result-header-inner {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}
#search-view #content .search-result .search-result-header-outer p {
  padding: 1em 0;
  vertical-align: bottom;
  margin: 0;
}
#search-view #content .search-result .search-result-header-outer .name {
  height: auto;
  float: left;
  max-width: 60%;
}
#search-view #content .search-result .search-result-header-outer .distance {
  height: auto;
  float: right;
}
#search-view #content .search-result .search-subresults {
  background-color: #f6f6f6;
}
#search-view #content .search-result .search-subresults p {
  border-bottom: 1px solid #242424;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 15px;
}
#search-view #content .search-result .search-subresults a {
  text-decoration: none;
  color: #242424;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 22px;
}
/* Trail View - AJW*/
#trail-view {
  position: fixed;
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  z-index: 3000;
  right: 0;
  left: 0;
  top: 0;
  margin-top: 20px;
  -webkit-transform: translate3d(0, 100%, 0);
  -webkit-box-sizing: border-box;
}
#trail-view.fullscreen {
  -webkit-transform: translate3d(0, 0, 0) !important;
}
#trail-view.closed {
  -webkit-transform: translate3d(0, 100%, 0) !important;
}
#trail-view.transition {
  -webkit-transition: -webkit-transform 0.5s;
}
#trail-view #trail-nav {
  position: relative;
  height: 2.5em;
  width: 100%;
  background-color: #5c795a;
  border-bottom: 5px solid #f6f6f6;
}
#trail-view #trail-nav .change-trail {
  display: inline-block;
  position: relative;
  text-align: center;
  margin-left: 20px;
}
#trail-view #trail-nav .change-trail .previous-trail .fa.hidden,
#trail-view #trail-nav .change-trail .next-trail .fa.hidden {
  opacity: 0.0 !important;
}
#trail-view #trail-nav .change-trail .previous-trail .fa,
#trail-view #trail-nav .change-trail .next-trail .fa {
  margin-top: 9px;
  font-size: 24px;
  color: #242424;
}
#trail-view #trail-nav .change-trail .previous-trail .fa.active,
#trail-view #trail-nav .change-trail .next-trail .fa.active {
  color: #f6f6f6;
}
#trail-view #trail-nav .change-trail .previous-trail {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  float: left;
}
#trail-view #trail-nav .change-trail .previous-trail:active {
  opacity: .75;
}
#trail-view #trail-nav .change-trail .previous-trail p {
  display: inline-block;
  position: relative;
  float: left;
  margin: 1em 1em 0 0;
  font-size: 12px;
  font-weight: 400;
}
#trail-view #trail-nav .change-trail .trailhead-index {
  display: inline-block;
  position: relative;
  float: left;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #f6f6f6;
  margin: 1em 0 0 0;
}
#trail-view #trail-nav .change-trail .next-trail {
  display: inline-block;
  position: relative;
  padding-left: 8px;
}
#trail-view #trail-nav .change-trail .next-trail:active {
  opacity: .75;
}
#trail-view #trail-nav .change-trail .next-trail p {
  display: inline-block;
  position: relative;
  float: right;
  margin: 1em 0em 1em 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
#trail-view #trail-nav .more-btn-tab {
  display: block;
  position: absolute;
  left: 40%;
  bottom: 0;
  height: 70%;
  width: 20%;
  background-color: #f6f6f6;
  border-radius: 2px 2px 0 0;
}
#trail-view #trail-nav .more-btn-tab .more-btn {
  display: block;
  height: auto;
  padding: 5% 0 10% 0;
  width: auto;
  text-align: center;
}
#trail-view #trail-nav .more-btn-tab .more-btn .fa {
  height: 20px;
  text-align: center;
  color: #5c795a;
}
#trail-view #trail-nav .more-btn-label {
  display: inline-block;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 200;
  margin: 1.25em 0 0 10px;
  color: #f6f6f6;
}
#trail-view #trail-nav .close-btn-label {
  display: inline-block;
  position: relative;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 200;
  margin: 1.25em 10px 0 0;
  color: #f6f6f6;
}
#trail-view #trail-nav .close-btn {
  float: right;
  padding: 5px 10px;
}
#trail-view #trail-nav .close-btn .fa {
  font-size: 30px;
  color: #f6f6f6;
}
#trail-view #trail-and-trailhead-data {
  padding: 0 20px;
  height: 100%;
  padding-bottom: 110px;
  box-sizing: border-box;
  background: #f6f6f6;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
#trail-view #trail-and-trailhead-data #trail-data-header {
  vertical-align: middle;
  width: auto;
  margin: 0;
}
#trail-view #trail-and-trailhead-data #trail-data-header .trail-title {
  position: relative;
  display: inline-block;
  min-width: 75%;
  line-height: 1.2em;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 22px;
  margin: 10px 0px;
}
#trail-view #trail-and-trailhead-data #trail-data-header .trail-attribute-distance {
  width: auto;
  vertical-align: top;
  padding-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  display: inline-block;
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
}
#trail-view #trail-and-trailhead-data #trail-data-header .trail-attribute-length {
  width: auto;
  vertical-align: top;
  padding-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  display: inline-block;
  position: relative;
  float: right;
  text-align: right;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
}
#trail-view #trail-and-trailhead-data .trailhead-title-field {
  display: block;
  margin: 10px 0;
  margin-bottom: 20px;
  position: relative;
}
#trail-view #trail-and-trailhead-data .trailhead-title-field .trailhead-icon {
  display: inline-block;
  position: relative;
  width: auto;
  margin-right: 10px;
  vertical-align: middle;
}
#trail-view #trail-and-trailhead-data .trailhead-title-field .trailhead-title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  display: inline-block;
  position: relative;
  width: auto;
  max-width: 50%;
  margin: 0;
  font-weight: 700;
  vertical-align: middle;
}
#trail-view #trail-and-trailhead-data .trailhead-title-field .trailhead-address {
  width: auto;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  padding: 6px;
  background-color: #4a90e2;
  border-radius: 2px;
  color: #f6f6f6;
  text-decoration: none;
  margin-top: -13px;
  position: absolute;
  right: 0;
  top: 50%;
}
#trail-view #trail-and-trailhead-data .photo-box {
  margin-left: -20px;
  margin-right: -20px;
}
#trail-view #trail-and-trailhead-data .photo-box img {
  height: auto;
  max-width: 100%;
}
#trail-view #trail-and-trailhead-data .trailhead-data {
  padding-top: 10px;
}
#trail-view #trail-and-trailhead-data .trailhead-data .trail-subhead {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #a3a3a3;
  margin: 0;
}
#trail-view #trail-and-trailhead-data .trailhead-data .trail-icons {
  width: auto;
  display: inline-block;
  position: relative;
  text-align: justify;
  margin: 10px 0;
}
#trail-view #trail-and-trailhead-data .trailhead-data .trail-icons .icon-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 10px;
}
#trail-view #trail-and-trailhead-data .trailhead-data .trail-icons .icon-box .icon {
  height: 100%;
  width: 100%;
}
#trail-view #trail-and-trailhead-data .trailhead-data .amenities {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}
#trail-view #trail-and-trailhead-data .trailhead-data .amenities td {
  text-align: left;
}
#trail-view #trail-and-trailhead-data .trailhead-data .amenities .amenity {
  text-align: left;
  margin: 5px 20px 5px 0px;
  width: auto;
  position: relative;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
#trail-view #trail-and-trailhead-data .trailhead-data .fa {
  margin-right: .2em;
  font-size: 20px;
}
#trail-view #trail-and-trailhead-data .trailhead-data p {
  display: inline-block;
  position: relative;
  line-height: 1.4em;
  font-weight: 400;
}
#trail-view #trail-and-trailhead-data .trailhead-data .trail-body {
  font-family: 'Merriweather Sans', sans-serif, serif;
  font-size: 12px;
  font-weight: 400;
}
#trail-view #trail-and-trailhead-data .trailhead-data .trailhead-steward {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}
#trail-view #trail-and-trailhead-data .trailhead-data .trailhead-steward p {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.minimized {
  top: 270px;
}
.minimized .nav-and-title {
  position: relative !important;
  bottom: none;
}
#notifications-view {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 4000;
}
#notifications-view .notification-tabs {
  position: relative;
  text-align: center;
}
#notifications-view .notification-tabs ul {
  margin: 0;
  padding: 0;
  border-radius: 2px;
  border: 1px solid #5c795a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
}
#notifications-view .notification-tabs li {
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  display: inline-block;
}
#notifications-view .notification-tabs .tab {
  padding: 6px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  width: 50%;
  cursor: pointer;
}
#notifications-view .notification-tabs .tab.active {
  color: #fff;
  background-color: #5c795a;
  cursor: auto;
}
#notifications-view #content {
  top: 20px;
}
#notifications-view #content #sources-nav {
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: #5c795a;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
}
#notifications-view #content #sources-nav .next-steward,
#notifications-view #content #sources-nav .previous-steward {
  padding: 8px 20px 0px 20px;
  position: relative;
  display: inline-block;
}
#notifications-view #content #sources-nav .next-steward:active,
#notifications-view #content #sources-nav .previous-steward:active {
  opacity: .75;
}
#notifications-view #content #sources-nav .next-steward .fa,
#notifications-view #content #sources-nav .previous-steward .fa {
  color: #242424;
  font-size: 24px;
}
#notifications-view #content #sources-nav .next-steward .fa.active,
#notifications-view #content #sources-nav .previous-steward .fa.active {
  color: #f6f6f6;
}
#notifications-view #content #sources-nav .next-steward {
  float: right;
}
#notifications-view #content #sources-nav .previous-steward {
  float: left;
}
#notifications-view #content #sources-nav .nav-text {
  position: relative;
  display: inline-block;
  text-align: center;
}
#notifications-view #content #sources-nav .nav-text p {
  color: #f6f6f6;
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}
#notifications-view #content #notification-source {
  position: relative;
  height: 103px;
  margin: 0 20px;
  padding: 10px 0;
}
#notifications-view #content #notification-source .source-name-container {
  padding-bottom: 10px;
}
#notifications-view #content #notification-source .source-name {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: 80%;
  margin: 0 0 0 0;
  height: 48px;
}
#notifications-view #content #notification-source .source-name span {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
#notifications-view #content #notification-source .source-logo {
  display: inline-block;
  position: relative;
  height: 50px;
  max-width: 25%;
}
#notifications-view #content #notification-content {
  position: absolute;
  top: 160px;
  bottom: 0;
  left: 0;
  right: 0;
}
#notifications-view #content #contact-view {
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#notifications-view #content #contact-view .contact-options {
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  text-align: left;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  position: relative;
  z-index: 2000;
}
#notifications-view #content #contact-view .contact-options .source-address {
  max-width: 60%;
}
#notifications-view #content #contact-view .contact-options .source-phone {
  max-width: 60%;
}
#notifications-view #content #contact-view .source-call-btn {
  position: relative;
  background-color: #4a90e2;
  border-radius: 2px;
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;
  z-index: 2000;
}
#notifications-view #content #contact-view .source-call-btn > * {
  vertical-align: middle;
  display: inline-block;
}
#notifications-view #content #contact-view .source-call-btn .phone-icon {
  font-size: 30px;
  color: #f6f6f6;
  margin: 5px;
}
#notifications-view #content #contact-view .source-call-btn a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: #f6f6f6;
  text-decoration: none;
}
#notifications-view #content #contact-view .source-call-btn .call-btn-label {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 22px;
  color: #f6f6f6;
}
#notifications-view #content #contact-view .source-splash-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, 0 top, 0 bottom, from(#f6f6f6), to(rgba(246, 246, 246, 0))), url(../img/splash-agency-contact.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1000;
}
#notifications-view #content #notification-list {
  padding: 0 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #f6f6f6;
}
#notifications-view #content #notification-list .notification-card {
  border-bottom: 1px solid #a3a3a3;
  margin-bottom: 5px;
  clear: right;
}
#notifications-view #content #notification-list .notification-card .notification-metadata {
  position: relative;
  height: auto;
  min-height: 30px;
  padding-top: 10px;
}
#notifications-view #content #notification-list .notification-card .notification-metadata .notification-status {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 40px;
  position: absolute;
  top: -7px;
  left: 5px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}
#notifications-view #content #notification-list .notification-card .notification-metadata .notification-status::before {
  content: "•";
}
#notifications-view #content #notification-list .notification-card .notification-metadata .notification-status.read {
  color: #a3a3a3;
}
#notifications-view #content #notification-list .notification-card .notification-metadata .notification-status.unread {
  color: #4a90e2;
}
#notifications-view #content #notification-list .notification-card .notification-metadata .notification-headline {
  padding-left: 30px;
  position: relative;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}
#notifications-view #content #notification-list .notification-card .notification-metadata .notification-timestamp {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  color: #242424;
  float: right;
  position: relative;
}
#notifications-view #content #notification-list .notification-card .notification-body {
  height: auto;
  margin: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  line-height: 1.2em;
}
#notifications-view #content #notification-list .notification-card .notification-close-btn {
  display: block;
  text-decoration: none;
  padding-bottom: 5px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  border-radius: 6px;
  color: #d0021b;
  margin-left: 10px;
  text-align: right;
}
#notifications-view #content #notification-list .notification-card .notification-close-btn .icon {
  font-size: 16px;
  position: relative;
  top: 1px;
}
#notifications-empty {
  color: #242424;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
#notification-sources .source {
  border-bottom: 1px solid #242424;
  display: inline-block;
  width: 100%;
}
#notification-sources .source .col-left {
  width: 40px;
  display: inline-block;
}
#notification-sources .source .col-right {
  display: inline-block;
}
#notification-sources .source .col-right h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 13px;
}
/** Device Specific Styles **/
